p{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    height: 509px;
    font-weight: bolder;
    color: black;
    padding-left: 8px;
}